
<div class="container-wrapper">
  <div
    class="container"
    id="container"
    [class.right-panel-active]="isSignUpActive"
  >
    <app-register-page [isActive]="isSignUpActive"></app-register-page>
    <app-login-page></app-login-page>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button class="ghost" id="signIn" (click)="togglePanel()">Login</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start journey with us</p>
          <button class="ghost" id="signUp" (click)="togglePanel()">
            Register
          </button>
        </div>
      </div>
    </div>
  </div>
</div>