.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.card {
  padding: 20px;
  height: 480px;
  width:520px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-info {
  margin-bottom: 20px;
}

.profile-form {
  width: 300px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
}
