<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="assets/images.png" class="img-fluid" alt="Dish Image" />
    </div>
    <div class="col-md-8">
      <div class="dish-details">
        <h2>{{ dish.DishName }}</h2>
        <p class="dish-ingredients">{{ dish.DishIngredients }}</p>
        <div class="input-group mb-3">
          <input [(ngModel)]="quantity" type="number" class="form-control" style="width: 70px;" value="1">
        </div>
        <select *ngIf="category=='Pizzas'" class="form-control form-control-sm" [(ngModel)]="selectedSize">
          <option *ngFor="let size of pizzaSizes" [value]="size">
            {{ size }}
          </option>
        </select>
        <p class="dish-price">Price: {{ calculatePrice() | currency }}</p>
        <button
          class="btn btn-primary add-to-cart"
          style="background-color: #f15a22; color: white"
          (click)="addToCart(dish, quantity)"
        >
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</div>